$whiteColor: #ffffff;
$blackColor: #000000;
$yellowColor: #edc47f;
$grayColor: #aeaeac;

$miniFontSize: 10px;
$smallFontSize: 12px;
$mediumFontSize: 14px;
$lasgeFontSize: 16px;
$extraLargeFontSize: 18px;

//Font-weight

$boldFontWeight: 700;
$mediumFontWeight: 500;
$normalFontWeight: 200;
